/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Global Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.3em;
}

/* Background */

body {
  background-color: #00f2ff;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Heading */

h1 {
  text-align: center;
  margin-bottom: 1.5em;
  color: rgba(0, 0, 0, 0.7);
}

/* Card Section */

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.profileCard {
  position: relative;
  width: 75%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 0;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1);
}

.topBg {
  height: 110px;
  background-image: url(../images/cardBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.profilePic {
  position: absolute;
  transform: translatex(50%);
  right: 50%;
  top: 60px;
}

.pic {
  border-radius: 50%;
  border: 5px solid white;
  background-color: white;
}

.profileName {
  text-align: center;
  font-size: 1em;
  padding-top: 74px;
  margin: 0;
}

.profileName span {
  font-weight: 400;
  color: rgb(128, 128, 128);
}

.profileLocation {
  text-align: center;
  margin-top: 0.75em;
  color: rgb(128, 128, 128);
}

.profileInfo {
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.profileStats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 1.5em;
}

.followers h2,
.likes h2,
.photos h2 {
  margin-bottom: 0;
  font-size: 1em;
}

.followers p,
.likes p,
.photos p {
  margin-top: 0;
  font-weight: 400;
  font-size: 0.75em;
  color: rgb(128, 128, 128);
}

/* Footer */

.attribution {
  margin-top: 2em;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */

@media (min-width: 480px) {
  .profileCard {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .profileCard {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .cards {
    gap: 5em;
  }

  .profileCard {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .cards {
    gap: 2em;
  }

  .profileCard {
    width: 25%;
  }
}

@media (min-width: 1440px) {
  .profileCard {
    width: 20%;
  }
}
